@import './../../../shared/_fonts';
@import 'normalize.css';

body {
    font-size: 16px;
    font-family: 'Open Sans';
}

button, input {
    &:active, &:focus {
        outline: none;
    }
}

.wrapper {
    height: 100vh;
}