@import './../../../shared/_mixins';

.wrapper {
    width: 100%;
    height: em(38);
    margin-top: em(12);
    display: flex;
    input {
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        background-color: #464d56;
        color: #fff;
        padding: 0 em(15);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.icon {
    flex: 0 0 em(38);
    height: 100%;
    background-color: #38424f;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        display: block;
        color: #fff;
        font-size: em(17);
    }
    &[data-icon="user"] {
        &:before {
            content: "\f007";
        }
    }
    &[data-icon="lock"] {
        &:before {
            content: "\f023";
        }
    }
}