@import './../../../shared/_mixins';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add {
    font-size: em(14);
    color: #f0793f;
    position: relative;
    padding-left: em(25);
    cursor: pointer;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: flex;
        justify-content: center;
        align-items: center;
        content: '\f055';
        color: #f0793f;
        font-size: em(18);
    }
}
.placeholder {
    text-align: center;
    margin-top: em(30);
    color: gray;
}
.questionsTitle, .statementsTitle {
    color: gray;
    margin-top: em(15);
    span { font-size: em(25); }
}
.questionsTitle {
    margin-top: em(30);
}