.input {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    &:active, &:focus {
        outline: none;
    }
}