@import './../../../shared/_mixins';

.wrapper {
    height: 100%;
    button {
        width: 100%;
        height: em(40);
        box-shadow: none;
        border: none;
        color: #fff;
        background-color: #f0793f;
        cursor: pointer;
        border-radius: 5px;
        &:disabled {
            opacity: .8;
            cursor: not-allowed;
        }
    }
}