@import './../../../shared/_mixins';

.title {
    color: #959595;
    margin-bottom: em(20);
    span {
        font-size: em(18);
    }
}
.submit {
    width: em(150);
    margin-top: em(10);
}
.fields {
    & > * {
        margin-bottom: em(5);
    }
}
.group {
    display: flex;
    & > * {
        &:last-child {
            margin-left: em(5);
        }
    }
}