@import './../../../shared/_mixins';

.wrapper {
    display: flex;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    margin-left: em(15);
    color: gray;
}
.icon {
    width: em(45);
    height: em(45);
    background-color: #eaeaea;
    border-radius: 50%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        display: block;
        color: #cbcbc7;
        content: "\f007";
        font-size: em(19);
    }
}
.logout {
    color: #f0793f;
    cursor: pointer;
    font-size: em(14);
}