@import './../../../shared/_mixins';

.tabList {
    display: flex;
    justify-content: center;
    padding: 0 0 em(41);
    width: auto;
}
.tab {
    display: block;
    list-style: none;
    padding: em(10) em(20);
    color: gray;
    cursor: pointer;
    border: 1px solid #cbcbc7;
    border-right: none;
    &[aria-selected=true] {
        cursor: auto;
        background-color: #f0793f;
        color: white;
        &:active, &:focus {
            outline: none;
        }
    }
    &:last-child {
        border-right: 1px solid #cbcbc7;
        border-radius: 0 5px 5px 0;
    }
    &:first-child {
        border-radius: 5px 0 0 5px;
    }
}
.tabPanel {
    width: em(792);
    margin-bottom: em(80);
}