@font-face {
    font-family: 'FontAwesome';
    src: url('FontAwesome/fontawesome-webfont.eot');
    src: url('FontAwesome/fontawesome-webfont.eot') format('embedded-opentype'), url('FontAwesome/fontawesome-webfont.woff2') format('woff2'), url('FontAwesome/fontawesome-webfont.woff') format('woff'), url('FontAwesome/fontawesome-webfont.ttf') format('truetype'), url('FontAwesome/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}