@import './../../../shared/_mixins';

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #313944;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: em(350);
    text-align: center;
}
.title {
    color: #fff;
    margin-bottom: em(20);
    span { font-size: em(25); }
}
.submit {
    width: 100%;
    margin-top: em(20);
}