.item {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: opacity 200ms ease-in;
    cursor: pointer;
    -webkit-transform: translateZ(0px);
    display: flex;
    align-items: center;
    z-index: 3;
    &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 20px;
        padding-right: 10px;
    }
    &:hover {
        opacity: 0.5;
        &.leave {
            opacity: 0.5;
        }
        &.leave.leaveActive {
            opacity: 0.01;
            transition: all 300ms ease-in;
        }
    }
}
.success {
    background-color: #8BBD3A;
    &:before {
        content: "\f00c";
    }
}
.error {
    background-color: #f2575c;
    &:before {
        content: "\f12a";
    }
}
.enter {
    opacity: 0.01;
    bottom: -50px;
}
.enter.enterActive {
    bottom: 30px;
    opacity: 1;
    transition: opacity linear .25s, bottom linear .2s;
}
.leave {
    opacity: 1;
}
.leave.leaveActive {
    opacity: 0.01;
    transition: all 300ms ease-in;
}