@import './../../../shared/_mixins';

.wrapper {
    width: em(792);
    border: 1px solid #cbcbc7;
    border-radius: 5px;
    padding: em(20) em(65) em(20) em(20);
    position: relative;
    margin-top: em(20);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.attributes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: gray;
    & > * {
        position: relative;
        margin-top: em(5);
    }
}
.title {
    font-size: 18px;
    color: gray;
    cursor: pointer;
    &:hover {
        color: #f0793f;
    }
    margin-bottom: em(10);
}
.notClickableTitle {
    font-size: em(18);
    color: gray;
}
.button {
    position: absolute;
    right: -1px;
    top: -1px;
    background-color: #f0793f;
    width: 50px;
    height: 100%;
    border-top: 1px solid #f0793f;
    border-bottom: 1px solid #f0793f;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s opacity ease;
    &:hover {
        opacity: .8;
    }
    &:after {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: flex;
        justify-content: center;
        align-items: center;
        content: '\f040';
        color: #fff;
        font-size: em(18);
    }
}
.red, .green {
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}
.red {
    &:after {
        background-color: #ff7575;
    }
}
.green {
    &:after {
        background: #63b163;
    }
}