@import './../../../shared/_mixins';

.wrapper {
    width: em(820);
}
.container {
    width: 100%;
    position: relative;
    height: em(36);
}
.issuer, .card {
    width: em(400);
    position: absolute;
    z-index: 2;
    transform: translateX(0);
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.issuer {
    left: 0;
    &.disabled {
        transform: translateX(-50%);
        opacity: 0;
    }
    &.active {
        left: 50%;
        transform: translateX(-50%);
    }
}
.card {
    right: 0;
    &.disabled {
        transform: translateX(50%);
        opacity: 0;
    }
    &.active {
        right: 50%;
        transform: translateX(50%);
    }
}
.submit {
    width: em(150);
    margin: em(25) auto 0;
}