@import './../../../shared/_mixins';

.wrapper {
    height: 100%;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newIssuer {
    width: em(150);
}
.separator {
    margin: em(50) 0;
    color: #959595;
}