@import './../../../shared/_mixins';

.wrapper {
    height: 100%;
}
.user {
    position: absolute;
    right: em(50);
    top: em(20);
}
.back {
    position: absolute;
    left: em(40);
    top: em(20);
    button {
        padding-left: em(20);
        padding-right: em(20);
    }
}