@import './../../../shared/_mixins';

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &.closed {
        display: none;
    }
}
.overlay {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container {
    width: em(400);
    padding: em(45) em(25);
    background-color: #fbfbfb;
    border-radius: 5px;
    position: relative;
}
.close {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: em(20);
    top: em(15);
    &:before {
        display: block;
        color: gray;
        font-size: em(19);
        content: '\f00d';
        cursor: pointer;
    }
}