@import './../../../shared/_mixins';

.wrapper {
    padding-top: em(20);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 20px;
    padding-bottom: em(5);
    color: gray;
}